body {
font-family: Arial, sans-serif;
margin: 0;
background-color: #ebc7c7;
}
header {
font-family: 'Franklin Gothic Medium';
font-size: large;
background-color: #333;
color: white;
text-align: center;
padding: 20px;
}
section {
padding: 20px;
margin: 10px;
background: white;
}
ul {
list-style-type: square;
}
footer {
background-color: #333;
color: white;
text-align: center;
padding: 10px;
}
h2{
    font-family: 'Franklin Gothic Medium';
}